

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background: #ddd;
    color: black;
}

img {
    width: 100%;
    margin: auto 0;
}

#innerpic {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 15px;
    top:14em;
    border-radius: 50%;
}

#top {
    
    display:flex;
    justify-content: space-around;
    width: 6.5em;
    border-radius: 11px;
    text-align: center;
    margin-top: -1.55em;
    margin-bottom: 1em;
    margin-left:2px;
    margin-right:2px;
    padding-top: .5em;
    padding-bottom: .6em;  
}

.title {
    position: absolute;
    top: 1.95em;
    left: 25%;
    font-size:42px;
    font-weight:bold;
    color:white;
}

.title p {
    font-size: 18px;
    margin-top: -50px;
    margin-left: 10px;
    font-weight: normal;
}

.one {
    background-color: red;
    /*background-image: url("https://media.istockphoto.com/photos/bee-picture-id474875198?k=6&m=474875198&s=612x612&w=0&h=CigG3gF6S2ijeO8qOmfMgHBOa_Fa-Cb2RugY-J2Hh9A=");*/
}

.two {
    background-color: blue;
}

.three {
    background-color:green;
}

.four {
    background-color: yellow;
}

.five {
    background-color: purple;
}

.six {
    background-color: turquoise;
}

.seven {
    background-color:teal;
}
footer {
    background-color: rgb(186, 194, 194);
    padding-left: 6%;
    border-radius: 25px;   
}

#pictop {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

#bottom {
    display:inline-flex;
    flex-wrap: wrap;
    background-color: rgb(33, 148, 148);
    margin: 15px;
    border-radius: 5px;
}

.first {
    width: 95%;
    margin: 0 auto;
    color: #f2f2f2;
    padding-left:4px;
    text-align: center;
    
}

.second {
    width:23%;
    color: #f2f2f2;
    padding-left:3px;
    border: 3px solid rgb(33, 148, 148);
    
}

.third {
    width: 21%;
    color: #f2f2f2;
    padding-left: 3px;
    border: 3px solid rgb(33, 148, 148);
}

.fourth {
    width: 20%;
    color: orange;
    font-weight:bold;
    padding-left:3%;
    border: 3px solid orange;
    text-align: center;
}

@media only screen and (min-width: 800px) {

    #innerpic {
        width: 115px;
        height: 115px;
        position: absolute;
        left: 15px;
        top:24em;
        border-radius: 50%;
    }

    .title {
        position: absolute;
        top: 3.45em;
        left: 25%;
        font-size:60px;
        font-weight:bold;
        color:white;
    }

}
@media only screen and (max-width: 380px) {
   
   #bottom {
       display: flex;
       flex-direction: row;
       justify-content: center
   } 

    #top {
        border-radius: 50%;
        width:9%;
        padding: 7px;
    }
}

  footer {
      width: auto 0;
  }